<a href="https://colab.research.google.com/github/SaharALgryan/saharalgryan/blob/main/Introduction_to_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python

In this labsheet we will cover basics of python. Here is your checklist:


*   Variables
*   Data Structures
*   Decision Statements
*   Loops
*   Methods


## Printing

Hit Shift + Enter to run the code in each of the following cells!

In [14]:
2+2 Nasser1@

4

In [15]:
print(2+2)

4

In [16]:
print('Hello World!')

Hello World!

In [17]:
print('Hello World','!')

Hello World !

In [18]:
print('Hello' + 'World')

HelloWorld

In [19]:
print('Hello World! This is', 0+1 , 'Python Introduction')

Hello World! This is 1 Python Introduction

In [20]:
print('Hello World'+ str(5))

Hello World5

## 1.1. Variables
Variables used to store data that can be used later.

**Example:**
Product information, e.g., laptop, include price, brand, and wether it is sold.

In [21]:
price = 5600.89
brand = 'Apple'
sold = True


✅ Print the price and the brand of the laptop.

In [22]:
# write the print statement
print(price,brand)

5600.89 Apple

You can find the data type of the variable using type method as follows:

In [23]:
type(price)

type(brand)

type(sold)

bool


✅ Assume that the customer bought three laptops, print the total bill amount.

✅ Assume that a loylty customer bought 1 laptop, and had a 15% discount, print the total bill amount

In [24]:
# write the total bill statement
Laptob=3
print(Laptob*price)

16802.670000000002

You can change the type of a variable using builtin functions, e.g.,

 int() -> change data type to integer

 str() -> change data type to string


✅ Using str() to fix the statement below.

In [25]:
print('Hello World'+str(5))

Hello World5

# Data Structures

Assume the dataset is as follows:


```
Brand        Price      Sold

Apple        5870       TRUE

Huawi        3004       TRUE

Samsung      4870       FALSE

Sony         2070       TRUE
```

In [26]:
# Create a list for each column in the dataset as follows:

brand_list = ['Apple', 'Huawi', 'Samsung', 'Sony']
price_list = [5870,3004,4870,2070]

✅ Your turn, create a list for the *Sold* column.

In [27]:
sold_list=[True,True,False,True]
print(sold_list)

[True, True, False, True]

✅ Print each list using print statement.

In [28]:
print(brand_list)
print(price_list)
print(sold_list)

['Apple', 'Huawi', 'Samsung', 'Sony']
[5870, 3004, 4870, 2070]
[True, True, False, True]

To find the length of each list use the len() function. For example,


```
len(brand_list)
```

In [29]:
# write your code to find the number of records in each list
print(len(brand_list))

4


Similarly, you can find the minimum and maximum values using the min() and max() function, respecitvly.

✅ Find the minimum and maximum value of each attribute in the dataset. Pring the values for each attribute.

In [30]:
print(min(price_list))
print(max(price_list))

2070
5870

✅ Print the price of the second laptop. Remember that Python start at index 0.

> Indented block

In [31]:
print(price_list[1])

3004

✅ Print the prices from the second laptop til the last using colon (:)

In [32]:
#write the code
print(price_list[1:])

[3004, 4870, 2070]

✅ Remove the last element of the brand list using the pop() function.

✅ Print the list

✅ Insert brand 'Dell' to the brand list using append() function

✅ Print the list

In [33]:
#Remove the last element of the brand list
print(brand_list.pop())
#print the list
print(brand_list)

#Insert brand 'Dell' to the brand list
print(brand_list.append('DELL'))
print(brand_list)


#print the list

Sony
['Apple', 'Huawi', 'Samsung']
None
['Apple', 'Huawi', 'Samsung', 'DELL']

## Tuple

Assuming you need data not to be altered!
 Similar to lists, you can add item, however, they cannot be amended.

Let's say you need to add storage specifcation to all laptops.

In [34]:
storage = (746,383,919,111)

Now, let's print the storage of the third laptop.

In [35]:
print(storage[2])

919

Try to change it to 678

In [36]:
#write your code here
storage_list=list(storage)
storage_list[2]=678
storage= tuple(storage_list)
print(storage_list)

[746, 383, 678, 111]

##Dictionary

Let's say we want to story attributes for a single laptop

In [37]:
attributes = {
    'Brand':'LG',
    'Price':3879,
    'Sold':False
}

print(attributes)

{'Brand': 'LG', 'Price': 3879, 'Sold': False}

Now, try to change its price to 4563

In [38]:
attributes['Price'] = 4563
print(attributes)

{'Brand': 'LG', 'Price': 4563, 'Sold': False}

We can use Dictionary to store all products data.

In [39]:
laptops = {
    'Brand':brand_list,
    'Price':price_list
}

print(laptops)

{'Brand': ['Apple', 'Huawi', 'Samsung', 'DELL'], 'Price': [5870, 3004, 4870, 2070]}

#Conditional Statements

Check if the price of the laptops is suitable for the customer.

In [42]:
balance = int(input('Enter your balance:'))

if price <= balance:
  print('you can buy the laptop')
else:
  print('you cannnot buy the laptop')

Enter your balance:3004
you cannnot buy the laptop

# Loops

In [43]:
for laptop_brand in brand_list:
 print(laptop_brand)

Apple
Huawi
Samsung
DELL

#Functions

In [45]:
def print_Hello_World():
  print('Hello World!')

In [46]:
 #call the function

print_Hello_World()

Hello World!

In [47]:
def print_hello_name(name):
  print('Hello', name)

In [48]:
#call the function
print_hello_name('Areej')

Hello Areej

In [50]:
def discounted_price(discount, price):
  return price - (discount*price)

discounted_price(0.5,3556)

1778.0

##Positional Arguments

You can pass any number of arguments using *

In [51]:
def find_total(*prices):
  total = 0
  for price in prices:
    total += price

  return total

find_total(46,3736,2828)

6610

#Keyword Arguments
You can give an argument a default value. Key arguments must come after positional arguments

In [52]:
def find_total_after_discount(*cost,discount = 0.50):
  total=0
  for c in cost:
        total += c
  print(total)

  total = total - (total*discount)

  return total

find_total_after_discount(30,20,30,25,discount=0.20)

105

84.0

#We are done!